
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#greetingLabels {
    padding: 7%;
    animation: fadeIn 3s, slideDown 2s;
    font-family: Perpetua,Baskerville,Big Caslon,Palatino Linotype,Palatino,URW Palladio L,Nimbus Roman No9 L,serif; 
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes slideDown {
    from {transform: translate(0, -100%);}
    to {transform: translate(0, 0%);}
}



#greetingLabels h1 {
    color: #F6AE2D;
    font-size: 10em;
    text-shadow: -3px -2px #F26419;
    
}
